<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
    />
    <script src="script.js"></script>
    <title>AI Versus</title>
  </head>
  <body class="body">
    
    <nav class="navbar">
      <div class="header">
        <h1 class="header-text">AI Versus</h1>
      </div>
      <ul class="nav-links">
        <li><a href="{{ url_for('login_page') }}">Login</a></li>
      </ul>
    </nav>

    <div class="convo flex-box">
      <div class="response-container">Hi there! How can I help you today?<br></div>
      <div class="response-container">Hi there! How can I help you today? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum dicta aperiam molestias, quia inventore incidunt expedita dolorum labore, tempora iste veritatis, hic est porro nihil in exercitationem iure tempore mollitia error nostrum itaque enim ipsa architecto amet! Vitae sequi voluptatibus laboriosam ex sapiente totam delectus qui ducimus. Iusto, consequuntur assumenda.<br></div>
    </div>

    <form action="{{ url_for('query_page') }}" method="POST" data-query-url="{{ url_for('query_page') }}">
      <div class="bottom-textbox">
        <textarea
          class="bottom-textbox textarea"
          placeholder="Type your message here..."
          name="Query"
          id="qry"
        ></textarea>
        <div class="bottom-textbox button-container">
          <button class="btn btn-search" type="submit">Search</button>
          <button class="btn btn-reason">Gemini</button>
        </div>
      </div>
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
  </body>
</html>
