<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
  <script src="script.js"></script>
  <title>AI Versus</title>
</head>

<body class="body">

  <nav class="navbar">
    <span class="header">
      <!-- make like of white colour and without any underline -->
      <a href="{{ url_for('index') }}" style="color: white; text-decoration: none; text-underline-position: none;">
      <h1 class="header-text" id="logo">AI Versus</h1>
      </a>
    </span>
    <ul class="nav-links">
      <li><a href="{{ url_for('register_page') }}">Sign up</a></li>
    </ul>
  </nav>

  <div class="convo">

    <!-- <div class="query-container">Hi<br></div>
    <div class="response-container">Hi there! How can I help you today?<br></div> -->

  </div>

  <div class="formContainer">
    <form action="{{ url_for('query_page') }}" method="POST" data-query-url="{{ url_for('query_page') }}">
      <div class="bottom-textbox">
        <textarea class="bottom-textbox textarea" placeholder="Type your message here..." name="Query" id="qry"></textarea>
        <div class="bottom-textbox button-container">
          <button class="btn btn-search" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>