<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>AI Versus</title>
</head>

<body class="body">

  <nav class="navbar">
    <div class="header">
      <!-- make like of white colour and without any underline -->
      <div class="history-tab">
        <i class="fa-solid fa-table-list"></i>
      </div>
      <a href="{{ url_for('index') }}" style="color: white; text-decoration: none; text-underline-position: none;" class="nav-title">
      <h1 class="header-text" id="logo">AI Versus</h1>
      </a>
      <ul class="nav-links">
        <li>
          <!-- <a href="{{ url_for('register_page') }}"></a> -->
          <i class="fa-regular fa-user profile"></i>
        </li>
      </ul>
    </div>
  </nav>

  <div class="convo">

    <!-- <div class="query-container">Hi<br></div>
    <div class="whole-res-container">
      <div class="response-container">
        <nav class="response-nav">DeepSeek</nav>
        <div class="response-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
        </div>
      </div>
      <div class="response-container">
        <nav class="response-nav">Gemini</nav>
        <div class="response-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
        </div>
      </div>
      <div class="response-container">
        <nav class="response-nav">Chat-Gpt</nav>
        <div class="response-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
        </div>
      </div>
    </div>
    <div class="query-container">Hi<br></div>
    <div class="whole-res-container">
      <div class="response-container">
        <nav class="response-nav">Chat-Gpt</nav>
        <div class="response-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
        </div>
      </div>
      <div class="response-container">
        <nav class="response-nav">DeepSeek</nav>
        <div class="response-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
        </div>
      </div>
      <div class="response-container">
        <nav class="response-nav">Gemini</nav>
        <div class="response-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
        </div>
      </div>
    </div>
    <div class="query-container">Hi<br></div>
    <div class="whole-res-container">
      <div class="response-container">
        <nav class="response-nav">Chat-Gpt</nav>
        <div class="response-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
        </div>
      </div>
      <div class="response-container">
        <nav class="response-nav">DeepSeek</nav>
        <div class="response-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
        </div>
      </div>
      <div class="response-container">
        <nav class="response-nav">Gemini</nav>
        <div class="response-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, consequuntur officia inventore numquam delectus reprehenderit distinctio dolore sint dignissimos amet tempore ab provident voluptatum aut ut aspernatur illo eveniet ipsam voluptatem facere nobis quasi laborum non. Est fugiat quia minima!
        </div>
      </div>
    </div> -->

  </div>

  <div class="formContainer">
    <form action="{{ url_for('query_page') }}" method="POST" data-query-url="{{ url_for('query_page') }}">

      <div class="bottom-textbox">
        <textarea class="textarea" placeholder="Type your message here..." name="Query" id="qry"></textarea>

        <div class="below-search">
          <div class="chat-bots-buttons">
            <a class="chatgpt-btn"><img class="chatgpt-logo" src="{{ url_for('static', filename='chatgpt-logo-chat-gpt-icon-on-white-background-free-vector.jpg') }}" alt="ChatGPT"></a>
            <a class="deepseek-btn"><img class="deepseek-logo" src="{{ url_for('static', filename='DeepSeek_logo_icon.png') }}" alt="DeepSeek"></a>
            <a class="gemini-btn"><img class="gemini-logo" src="{{ url_for('static', filename='images.jpeg') }}" alt="Gemini"></a>
          </div>
          <div class="button-container">
            <button class="btn btn-search" type="submit"><i class="fa-solid fa-paper-plane"></i></button>
          </div>
        </div>

      </div>

    </form>
  </div>
  
  <div class="history-tab-div">
    <nav>
      <h3>History</h3>
      <div class="btn-group">
        <!-- <a href="{{ url_for('index') }}" class="new-chat" title="New Chat"><i class="fa-solid fa-plus"></i></a> -->
        <button class="new-chat" title="New Chat"><i class="fa-solid fa-plus"></i></button>
        <button class="rmvIc0" title="close sidebar"><i class="fa-solid fa-xmark"></i></button>
      </div>
    </nav>
    <div class="sidebar-content-div">Sign in for enabling history</div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>

