<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->
    <title>register</title>
  </head>

  <body style="background-color: #0f101b">
    
    <nav class="navbar">
      
      <div class="header" style="text-align: center; font-size: 40px; color: white; padding-top: 0px;">
        <a href="{{ url_for('register_page') }}" style="color: white; text-decoration: none; text-underline-position: none;">
          <h1 class="header-text" id="logo">Register</h1>
        </a>
      </div>
    </nav>

    


  </body>
</html>
